<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppType</key>
	<string>Daemon</string>
	<key>CFBundleIdentifier</key>
	<string>co.goerwin.KeyRemapperDaemon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>ClientBundleIdentifier</key>
	<string>co.goerwin.KeyRemapper</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>__replacedByScripts__</string>
	</array>
</dict>
</plist>
