#
# Only needed for the `buildApp.sh` script.
# This is mostly for github action flows and isolated environments, not intended for local development which
# if you decide to use, you need to be careful, specially with the certificate handling and security
# of your local machine.
#

# Certificate name to sign the app with, see them with:
# $ security find-identity -p codesigning -v
export APP_CERTIFICATE="Apple Development: my@email.com (XXXXXXXXXX)"

# You can export the certificate from Xcode: Settings -> Accounts -> Apple ID -> Manage Certificates.
# Right-click on the certificate and export it, then convert it to base64:
# $ base64 -i certificate.p12 | pbcopy
export BUILD_CERTIFICATE_BASE64="XXX"

# Password you use when exporting the above certificate
export P12_PASSWORD="XXX"

# Random password for the keychain
export KEYCHAIN_PASSWORD="XXX"
